<div class="mat-container-fluid">

  <div align="center">
    <h3>Tipo</h3>
    <mat-form-field appearance="legacy">
      <mat-select [(ngModel)]="selectedType" placeholder="Seleziona il tipo di persona">
        <mat-option *ngFor="let ty of type" [value]="ty" (click)="findPersons()">
          {{ ty }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="persons != null" align="center">
    <h3>Persona</h3>
    <mat-form-field appearance="legacy" >
      <mat-select [(ngModel)]="selectedPerson" placeholder="Seleziona il tipo di persona">
        <mat-option *ngFor="let person of persons" [value]="person" value="person.person.firstName" (click)="populateData()">
          {{ person.person.firstName }} {{ person.person.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="selectedPerson != null">
    <div>
      <mat-grid-list [cols]="2" rowHeight="3:1">
        <mat-grid-tile>
          <div align="center">
            <h3>Nome</h3>
            <mat-form-field appearance="legacy">
              <input matInput placeholder="Inserisci il nome" [(ngModel)]="firstName" required>
            </mat-form-field>
          </div>
        </mat-grid-tile>


        <mat-grid-tile>
          <div align="center">
            <h3>Cognome</h3>
            <mat-form-field appearance="legacy">
              <input matInput placeholder="Inserisci il cognome" [(ngModel)]="lastName" required>
            </mat-form-field>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div>
      <mat-grid-list [cols]="3" rowHeight="2:1">
        <mat-grid-tile>
          <mat-card align="center" class="grid-tile">
            <mat-card-content>
              <mat-card-title>
                <h4>Email</h4>
              </mat-card-title>
              <mat-form-field appearance="legacy">
                <input matInput="e-mail" type="email" placeholder="Inserisci e-mail"
                       [(ngModel)]="email" required>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="grid-tile" align="center">
            <mat-card-content>
              <mat-card-title>
                <h4>Numero di telefono</h4>
              </mat-card-title>
              <mat-form-field appearance="legacy">
                <input matInput placeholder="Inserisci il numero di telefono" type="tel"
                       [(ngModel)]="phone" required>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile >
          <mat-card class="grid-tile" align="center">
            <mat-card-content>
              <mat-card-title>
                <h4>Data di nascita</h4>
              </mat-card-title>
              <mat-form-field appearance="legacy">
                <input matInput [matDatepicker]="picker" placeholder="Inserisci la data di nascita"
                       [(ngModel)]="dateOfBirth" required>
              </mat-form-field>
              <mat-datepicker-toggle [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker align="right"></mat-datepicker>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div>
      <mat-grid-list [cols]="3" rowHeight="2:1">
        <mat-grid-tile>
          <mat-card class="grid-tile" align="center">
            <mat-card-content>
              <mat-card-title>
                <h4>Sesso</h4>
              </mat-card-title>
              <mat-radio-group [(ngModel)]="gender" >
                <mat-radio-button *ngFor="let ge of gends"
                                  [value]="ge" class="radio-button" >
                  {{ ge }}
                </mat-radio-button>
              </mat-radio-group>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="grid-tile" align="center">
            <mat-card-content>
              <mat-card-title>
                <h4>Indirizzo</h4>
              </mat-card-title>
              <mat-form-field appearance="legacy">
                <input matInput [(ngModel)]="address" placeholder="Inserisci l'indirizzo" required>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="grid-tile" align="center">
            <mat-card-content>
              <mat-card-title>
                <h4>N°</h4>
              </mat-card-title>
              <mat-form-field appearance="legacy">
                <input matInput placeholder="numero" type="number"
                       [(ngModel)]="number" required>
              </mat-form-field>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <div  class="example-card" align="center">
      <h3>Tipo di utente</h3>
      <mat-form-field appearance="legacy">
        <mat-select placeholder="Seleziona il tipo di utente" [(ngModel)]="selectedType" required>
          <mat-option *ngFor="let ty of type" [value]="ty">
              {{ty}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div align="center" *ngIf="student != null" >
      <h3>Corso di studi</h3>
      <mat-form-field appearance="legacy">
        <mat-select placeholder="seleziona il corso di studi" [(ngModel)]="courseName" required>
          <mat-option *ngFor="let course of courses"
                      [value]="course.name">
            {{ course.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-grid-list [cols]="2" rowHeight="2:1" *ngIf="(professor || secretary) != null">
      <mat-grid-tile>
        <div align="center">
          <h3>Inizio ingaggio</h3>
          <mat-form-field appearance="legacy">
            <input matInput [matDatepicker]="pickerHire" placeholder="Inserisci la data di ingaggio"
                   [(ngModel)]="hireDate" required>
          </mat-form-field>
          <mat-datepicker-toggle [for]="pickerHire" ></mat-datepicker-toggle>
          <mat-datepicker #pickerHire align="right"></mat-datepicker>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div align="center">
          <h3>Fine ingaggio</h3>
          <mat-form-field appearance="legacy">
            <input matInput [matDatepicker]="pickerEnd" placeholder="Inserisci la data di fine ingaggio"
                   [(ngModel)]="endEngagement" required>
          </mat-form-field>
          <mat-datepicker-toggle [for]="pickerEnd" ></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd align="right"></mat-datepicker>
        </div>
      </mat-grid-tile>
    </mat-grid-list>


    <div>
      <mat-card-actions align="center" class="example-card">
        <mat-card-content>
          <button mat-raised-button color="primary"
                  (click)="newPassword()" >
            Nuova password
          </button>
        </mat-card-content>
      </mat-card-actions>
    </div>

    <div align="center" style="margin: 10px">
      <mat-label>
        <h2>Foto utente</h2>
      </mat-label>
      <input
        style="display: none"
        type="file"
        #fileInput>
      <button mat-button (click)="fileInput.click()" aria-label="Inserisci foto utente">
        <mat-icon>insert_photo</mat-icon>
      </button>
    </div>

    <div>
      <mat-card-actions align="center" class="example-card">
        <mat-card-content>
          <button mat-raised-button color="warn"
                  (click)="submit(fileInput.files)" >
            Salva modifiche utente
          </button>
        </mat-card-content>
      </mat-card-actions>
    </div>
  </div>
</div>
