<h2 align="center">Nuovo Ticket</h2>
<form novalidate [formGroup]="openTicketForm" (ngSubmit)="onSubmitForm()">

  <div align="center">
    <mat-form-field>
      <mat-select placeholder="Aule" formControlName="room">
        <mat-option *ngFor="let room of rooms" [value]="room" (click)="findRoomEquipment()">
          {{ room.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf="openTicketForm.get('room').value" align="center">

<!--     <mat-form-field>
      <mat-select placeholder="Equipment" formControlName="equipment">
        <mat-option *ngFor="let roomEquipment of roomEquipments" [value]="roomEquipment">
          {{roomEquipment.equipment.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Titolo" formControlName="title"></textarea>
    </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Descrizione" formControlName="description"></textarea>
      </mat-form-field>

    <div class="my_class">
      <mat-card-actions align="center" class="example-card">
        <mat-card-content>
          <button mat-raised-button color="warn" type="submit">
            Invia
          </button>
        </mat-card-content>
      </mat-card-actions>
    </div>


  </div>


</form>
