<mat-sidenav-container fullscreen [style.margin-top]="'95px'" autosize>
  <mat-sidenav  mode="side" opened [style.background-color]="'#f4ce42'" class="mat-elevation-z8" >
    <mat-list>
      <mat-list-item>
        <button  color="primary" mat-flat-button [style.font-size]="'large'"
                 (click)="SUser = !SUser">
          <mat-icon>people</mat-icon>
          Utenti
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div *ngIf="SUser">
        <mat-list-item>
          <button class="tab" mat-flat-button color="primary"
                  (click)="addUser()">
            <mat-icon>add</mat-icon>
            Aggiungi nuovo utente
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button class="tab" mat-flat-button color="primary"
                  (click)="modifyUser()">
            <mat-icon>edit</mat-icon>
            Modifica utente
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
      </div>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button mat-flat-button color="primary"
                 [style.font-size]="'large'" (click)="SAula = !SAula">
          <mat-icon>room</mat-icon>
          Aula
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div *ngIf="SAula">
        <mat-list-item>
          <button class="tab" mat-flat-button color="primary"
                  (click)="addAula()">
            <mat-icon>add</mat-icon>
            Aggiungi nuova aula
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button class="tab" mat-flat-button color="primary"
                  (click)="modifyAula()">
            <mat-icon>edit</mat-icon>
            Modifica aula</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
      </div>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button  color="primary" mat-flat-button
                 [style.font-size]="'large'" (click)="SCalendar = !SCalendar">
          <mat-icon>calendar_today</mat-icon>
          Calendario
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div *ngIf="SCalendar">
        <mat-list-item>
          <button class="tab" mat-flat-button color="primary"
                  (click)="addCalendar()">
            <mat-icon>add</mat-icon>
            Aggiungi nuovo calendario
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button class="tab" mat-flat-button color="primary"
                  (click)="modifyCalendar()">
            <mat-icon>edit</mat-icon>
            Modifica calendario
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
      </div>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button  color="primary" mat-flat-button
                 [style.font-size]="'large'"  (click)="SCourse = !SCourse">
                 <i class="material-icons">
                  view_stream
                  </i>
          Corso di studi
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div *ngIf="SCourse">
        <mat-list-item>

          <button class="tab" mat-flat-button color="primary"
                  (click)="addStudyCourse()">
            <mat-icon>add</mat-icon>
            Aggiungi nuovo corso di studi
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button class="tab" mat-flat-button color="primary"
                  (click)="modifyStudyCourse()">
            <mat-icon>edit</mat-icon>
            Modifica corso
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
      </div>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button  color="primary" mat-flat-button
                 [style.font-size]="'large'" (click)="STeaching = !STeaching">
                 <i class="material-icons">
                  view_headline
                  </i>
          Insegnamento
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div *ngIf="STeaching">
        <mat-list-item>
          <button class="tab" mat-flat-button color="primary"
                  (click)="addTeaching()">
            <mat-icon>add</mat-icon>
            Aggiungi nuovo insegnamento
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button class="tab" mat-flat-button color="primary"
                  (click)="modifyTeaching()">
            <mat-icon>edit</mat-icon>
            Modifica insegnamento
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content style="z-index: -1!important;">

    <div [style.margin]="'15px'">
      <div align="center" class="list-container">
        <h1>
          Segnalazione: Aperta
        </h1>
        <mat-list align="center" *ngIf="tickets.length != 0">
          <mat-list-item align="center" *ngFor="let ticket of opened; last as last"
                         [style.font-size]="'tiny'" [style.width]="'100%'" [style.height]="'auto'">
            <mat-card [style.width]="'100%'" [style.height]="'auto'" [style.margin]="'5px'">

              <mat-card-title>
                <b>Oggetto: {{ ticket.title }}</b>
              </mat-card-title>
              <mat-card-subtitle class="title">
                <div>
                  <b>Aula: {{ ticket.room.name }}</b>
                </div>
                <div>
                  <b>Professore: {{ ticket.professor.person.firstName}} {{ ticket.professor.person.lastName}}</b>
                </div>
              </mat-card-subtitle>

              <div class="description">
                <div>
                  <b> {{ ticket.comment }} </b>
                </div>
                <div>
                  <b [style.color]="'blue'">stato: {{ ticket.status }}</b>
                </div>
              </div>

              <mat-card-actions>
                <button mat-flat-button color="primary" [style.margin]="'5px'" (click)="resume(ticket)">
                  Aggiorna/Risolvi</button>
                <button mat-flat-button color="warn" [style.margin]="'5px'"  (click)="delete(ticket)">Elimina</button>
                <button mat-flat-button color="accent" [style.margin]="'5px'"
                        *ngIf="ticket.status == 'PENDING'" (click)="accept(ticket)">Accetta</button>
              </mat-card-actions>
            </mat-card>
          </mat-list-item>
        </mat-list>
        <div *ngIf="opened.length == 0" [style.color]="'red'">
          <h1>
            Nessun ticket trovato!
          </h1>
        </div>
        <span style="display:inline-block; height: 100px; width: 90%;"></span>
        <h1>
          Segnalazione: Chiusa
        </h1>
        <mat-list align="center" *ngIf="tickets.length != 0">
          <mat-list-item align="center" *ngFor="let ticket of closed; last as last"
                         [style.font-size]="'tiny'" [style.width]="'100%'" [style.height]="'150px'">
            <mat-card [style.width]="'100%'" [style.height]="'100px'" >
              <mat-card-content></mat-card-content>
              <mat-card-content>
                <div class="title">
                  <b>{{ ticket.title }} aula: {{ ticket.room.name }}
                    professore: {{ ticket.professor.person.firstName}} {{ ticket.professor.person.lastName}}</b>
                </div>

                <div class="description">
                  <b> {{ ticket.comment }} </b>
                  <b [style.color]="'blue'">stato: {{ ticket.status }}</b>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-list-item>
        </mat-list>
        <div *ngIf="closed.length==0" [style.color]="'red'">
          <h1>
            Nessun ticket trovato!
          </h1>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
