<mat-sidenav-container class="my-class">
  <mat-sidenav  mode="side" opened [style.background-color]="'#f4ce42'">
    <mat-list>
      <mat-list-item>
        <button  [style.background-color]="'#f4ce42'" mat-button [style.font-size]="'large'"
                 [style.color]="'black'" (click)="SUser = !SUser">User</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div *ngIf="SUser">
        <mat-list-item>
          <button class="tab" mat-button [style.background-color]="'#f4ce42'" mat-flat-button [style.color]="'black'"
                  (click)="addUser()">Add new User</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button class="tab" mat-button [style.background-color]="'#f4ce42'" [style.color]="'black'"
                  (click)="modifyUser()">Edit User</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
      </div>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button  [style.background-color]="'#f4ce42'" mat-button [style.color]="'black'"
                 [style.font-size]="'large'" (click)="SAula = !SAula">Room</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div *ngIf="SAula">
        <mat-list-item>
          <button class="tab" mat-button [style.background-color]="'#f4ce42'" [style.color]="'black'"
                  (click)="addAula()">Add new Room</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button class="tab" mat-button [style.background-color]="'#f4ce42'" [style.color]="'black'"
                  (click)="modifyAula()">Edit Room</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
      </div>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button  [style.background-color]="'#f4ce42'" mat-button [style.color]="'black'"
                 [style.font-size]="'large'" (click)="SCalendar = !SCalendar">Calendar</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div *ngIf="SCalendar">
        <mat-list-item>
          <button class="tab" mat-button [style.background-color]="'#f4ce42'" [style.color]="'black'"
                  (click)="addCalendar()">Add new Calendar</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button class="tab" mat-button [style.background-color]="'#f4ce42'" [style.color]="'black'"
                  (click)="modifyCalendar()">Edit Calendar</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
      </div>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button  [style.background-color]="'#f4ce42'" mat-button [style.color]="'black'"
                 [style.font-size]="'large'"  (click)="SCourse = !SCourse">Course</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div *ngIf="SCourse">
        <mat-list-item>

          <button class="tab" mat-button [style.background-color]="'#f4ce42'" [style.color]="'black'"
                  (click)="addStudyCourse()">Add new Course</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button class="tab" mat-button [style.background-color]="'#f4ce42'" [style.color]="'black'"
                  (click)="modifyStudyCourse()">Edit Course</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
      </div>

      <mat-divider></mat-divider>

      <mat-list-item>
        <button  [style.background-color]="'#f4ce42'" mat-button [style.color]="'black'"
                 [style.font-size]="'large'" (click)="STeaching = !STeaching">Module</button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>

      <div *ngIf="STeaching">
        <mat-list-item>
          <button class="tab" mat-button [style.background-color]="'#f4ce42'" [style.color]="'black'"
                  (click)="addTeaching()">Add new Module</button>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <button class="tab" mat-button [style.background-color]="'#f4ce42'" [style.color]="'black'"
                  (click)="modifyTeaching()">Edit Module</button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <div [style.margin]="'15px'" class="my-class">
      <div align="center" class="list-container">
        <h1>
          Issue: Opened
        </h1>
        <mat-list align="center" *ngIf="tickets.length != 0">
          <mat-list-item align="center" *ngFor="let ticket of opened; last as last"
                         [style.font-size]="'tiny'" [style.width]="'100%'" [style.height]="'150px'">
            <mat-card [style.width]="'100%'" [style.height]="'100px'" >

              <div class="title">
                <b>{{ ticket.title }} room: {{ ticket.room.name }}
                  professor: {{ ticket.professor.person.firstName}} {{ ticket.professor.person.lastName}}</b>
              </div>

              <div class="description">
                <b> {{ ticket.comment }} </b>
                <b [style.color]="'blue'">status: {{ ticket.status }}</b>
              </div>

              <mat-card-actions>
                <button mat-flat-button class="my-green" [style.color]="'white'" (click)="resume(ticket)">
                  Resolve</button>
                <button mat-flat-button color="warn" (click)="delete(ticket)">Delete</button>
                <button mat-flat-button [style.background-color]="'blue'" [style.color]="'white'"
                        *ngIf="ticket.status == 'PENDING'" (click)="accept(ticket)">Accept</button>
              </mat-card-actions>
            </mat-card>
          </mat-list-item>
        </mat-list>
        <div *ngIf="opened.length == 0" [style.color]="'red'">
          <h1>
            No tickets found!
          </h1>
        </div>
        <span style="display:inline-block; height: 100px; width: 90%;"></span>
        <h1>
          Issue: Closed
        </h1>
        <mat-list align="center" *ngIf="tickets.length != 0">
          <mat-list-item align="center" *ngFor="let ticket of closed; last as last"
                         [style.font-size]="'tiny'" [style.width]="'100%'" [style.height]="'150px'">
            <mat-card [style.width]="'100%'" [style.height]="'100px'" >
              <mat-card-content></mat-card-content>
              <mat-card-content>
                <div class="title">
                  <b>{{ ticket.title }} room: {{ ticket.room.name }}
                    professor: {{ ticket.professor.person.firstName}} {{ ticket.professor.person.lastName}}</b>
                </div>

                <div class="description">
                  <b> {{ ticket.comment }} </b>
                  <b [style.color]="'blue'">status: {{ ticket.status }}</b>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-list-item>
        </mat-list>
        <div *ngIf="closed.length==0" [style.color]="'red'">
          <h1>
            No tickets found!
          </h1>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

