<div align="center" class="ng-animate">
  <mat-grid-list [cols]="3" rowHeight="2:1">
    <mat-grid-tile>
      <div align="center">
        <h3>Nome materia</h3>
        <mat-form-field appearance="legacy">
          <input matInput placeholder="Inserisci il nome dell'insegnamento"
                 [(ngModel)]="name" required>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div align="center">
        <h3>Crediti della materia</h3>
        <mat-form-field appearance="legacy">
          <input matInput type="number" placeholder="Inserisci i crediti della materia"
                 [(ngModel)]="credits" required min="3" max="18">
        </mat-form-field>
        <mat-error *ngIf="wrongCharacter"> Inserici un valore tra 3 e 18 </mat-error>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <h3>Semestre</h3>
        <mat-form-field appearance="legacy">
          <mat-select placeholder="Seleziona Semestre" [(ngModel)]="semester">
            <mat-option style="font-size: medium" [value]="1">1</mat-option>
            <mat-option style="font-size: medium" [value]="2">2</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list [cols]="3" rowHeight="2:1">
    <mat-grid-tile>
      <div>
        <h3>Corso</h3>
        <mat-form-field appearance="legacy">
          <mat-select placeholder="Seleziona il corso" [(ngModel)]="selectedCourse"
                      >
            <mat-option *ngFor="let course of courses" [value]="course" (click)="fillVector()">
              {{ course.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <h3>Anno</h3>
        <mat-form-field appearance="legacy">
          <mat-select disabled="selectedCourse != null"  placeholder="Seleziona l'anno della materia" [(ngModel)]="year">
            <mat-option *ngFor="let ye of numbers; let i = index" [value]="ye">
              {{ ye }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <div>
        <h3>Professore</h3>
        <mat-form-field appearance="legacy">
          <mat-select placeholder="Seleziona il professore" [(ngModel)]="selectedProfessor">
            <mat-option *ngFor="let professor of professors" [value]="professor">
              {{ professor.person.firstName }} {{ professor.person.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div>
    <mat-card-actions align="center" class="example-card">
      <mat-card-content>
        <button color="warn" mat-raised-button (click)="onSubmit()">Salva</button>
      </mat-card-content>
      <mat-error *ngIf="missingArguments">
        Argomenti mancanti
      </mat-error>
    </mat-card-actions>
  </div>
</div>

