<div>
  <mat-card align="center">
    <mat-card-content>
      <mat-card-title>
        <h4>Course Name</h4>
      </mat-card-title>
      <mat-form-field appearance="legacy">
        <input style="font-size: medium" matInput [(ngModel)]="name" placeholder="Insert course name">
      </mat-form-field>
    </mat-card-content>
  </mat-card>


  <mat-card align="center">
    <mat-card-content>
      <mat-card-title>
        <h4>Course Description</h4>
      </mat-card-title>
      <mat-form-field appearance="legacy">
        <textarea style="font-size: medium" matInput [(ngModel)]="description" #descri
                  placeholder="Insert course name" maxlength="200">

        </textarea>
        <mat-hint> Max {{ 200 - descri.value?.length }} character</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>


  <mat-card align="center">
    <mat-card-content>
      <mat-card-title>
        <h4>Course Type</h4>
      </mat-card-title>
      <mat-form-field appearance="legacy">
        <mat-select placeholder="select teaching"  [(ngModel)]="studyCourseType"
                    [required] >
          <mat-option style="font-size: medium" *ngFor="let course of studyCourseTypes"
                      [value]="course">
            {{course.courseType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-actions align="center" class="example-card">
      <mat-card-content>
        <button style="font-size: large" color="warn" mat-raised-button (click)="onSubmit()">Submit</button>
      </mat-card-content>
      <mat-error *ngIf="missingArguments" style="color: red">
        Missing arguments
      </mat-error>
    </mat-card-actions>
  </mat-card>
</div>
