<div class="container-fluid">
  <mat-card align="center">
    <mat-card-content>
      <mat-card-title>
        <h4>Insert teaching name</h4>
      </mat-card-title>

      <mat-form-field appearance="legacy">
        <input matInput placeholder="Insert teaching name"
               [(ngModel)]="name" required>
      </mat-form-field>
    </mat-card-content>
  </mat-card>


  <mat-card align="center">
    <mat-card-content>
      <mat-card-title>
        <h4>Insert teaching credits</h4>
      </mat-card-title>

      <mat-form-field appearance="legacy">
        <input matInput type="number" placeholder="Insert teaching credits"
               [(ngModel)]="credits" required min="3" max="18">
      </mat-form-field>
      <mat-error *ngIf="wrongCharacter"> Insert number from 3 to 18 </mat-error>
    </mat-card-content>
  </mat-card>


  <mat-card align="center">
    <mat-card-content>
      <mat-card-title>
        <h4>Insert teaching description</h4>
      </mat-card-title>

      <mat-form-field appearance="legacy">
        <textarea matInput placeholder="Insert teaching description"
                  [(ngModel)]="description" maxlength="200" required #input>

        </textarea>
        <mat-hint align="end">Max {{ 200 - input.value?.length }} character</mat-hint>
      </mat-form-field>
    </mat-card-content>
  </mat-card>


  <mat-card>
    <mat-card-content>
      <mat-card-title>
        <h4>Select Semester</h4>
      </mat-card-title>

      <mat-form-field appearance="legacy">
        <mat-select placeholder="Select Semester" [(ngModel)]="semester">
          <mat-option style="font-size: medium" [value]="1">1</mat-option>
          <mat-option style="font-size: medium" [value]="2">2</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>


  <mat-card-actions align="center" class="example-card">
    <mat-card-content>
      <button color="warn" mat-raised-button (click)="onSubmit()">Submit</button>
    </mat-card-content>
    <mat-error *ngIf="missingArguments">
      Missing arguments
    </mat-error>
  </mat-card-actions>
</div>
