<mat-card *ngIf="type == 'RESUME'" align="center">
  <h3>Title: {{ ticket.title }}</h3>
  <h3>Requested by {{ ticket.professor.person.firstName }} {{ ticket.professor.person.lastName}}</h3>
  <h4>Room: {{ ticket.room.name }} </h4>
  <h4>Rooms Item: </h4>
  <mat-select [(ngModel)]="selected" placeholder="select if item status changed" multiple>
    <mat-option *ngFor="let equipment of roomEquipments; let i = index" (change)="optionChecked(i)">
      {{ equipment.equipment.name }}
    </mat-option>
  </mat-select>
  <h4>comment: {{ ticket.comment }}</h4>
  <mat-form-field  appearance="legacy">
    <textarea matInput placeholder="Modify comment" [(ngModel)]="newComment" maxlength="256"></textarea>
    <mat-hint [style.color]="'blue'">
      {{ 256 - newComment.length }}
    </mat-hint>
  </mat-form-field>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="saveStatus('ACCEPTED')">Update Status</button>
    <button mat-raised-button color="primary" (click)="saveStatus('SOLVED')">Solve</button>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="type == 'REJECTED'">
  <h3>Title: {{ ticket.title }}</h3>
  <h3>Requested by {{ ticket.professor.person.firstName }} {{ ticket.professor.person.lastName}}</h3>
  <h4>Room: {{ ticket.room.name }} </h4>
  <h4>Insert a comment:</h4>
  <mat-form-field  appearance="legacy">
    <textarea matInput placeholder="Insert a comment" [(ngModel)]="newComment" maxlength="256"></textarea>
    <mat-hint [style.color]="'blue'">
      {{ 256 - newComment.length }}
    </mat-hint>
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="saveStatus('REJECTED')">Save New Status</button>
</mat-card>
