<div class="my_class">

  <h2 align="center">Corso di studi</h2>
  <form novalidate [formGroup]="editCourseForm" (ngSubmit)="onSubmitForm()">

    <div align="center">
      <mat-form-field>
        <mat-select placeholder="Seleziona corso di studi" formControlName="course" required>
          <mat-option *ngFor="let course of courses" [value]="course">
            {{ course.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="editCourseForm.get('course').value" align="center">

      <mat-card>
        <mat-card-content>
          <mat-card-title>
            <h4>Descrizione del corso</h4>
          </mat-card-title>
          <mat-form-field appearance="legacy" style="width: 400px;">
        <textarea class="example-full-width" rows="5" cols="40" style="font-size: medium" matInput formControlName="description" #descri
                  placeholder="Inserisci la descrizione del corso" maxlength="200">
        </textarea>
            <mat-hint> Max {{ 200 - descri.value?.length }} caratteri</mat-hint>
          </mat-form-field>
        </mat-card-content>
      </mat-card>




      <mat-card>
        <mat-card-content>
          <mat-card-title><h4>Tipo di corso</h4></mat-card-title>
          <mat-radio-group formControlName="type">
            <mat-radio-button class="example-radio-button" *ngFor="let course of studyCourseTypes" [value]="course.courseType">
              {{course.courseType}}
            </mat-radio-button>
          </mat-radio-group>
          <div class="example-selected-value">Years: {{studyCourseTypes[selectedType].year}},
            CFU: {{studyCourseTypes[selectedType].cfu}}</div>
        </mat-card-content>
      </mat-card>

      <div class="my_class">
        <mat-card-actions align="center" class="example-card">
          <mat-card-content>
            <button mat-raised-button color="warn" type="submit">
              Salva aggiornamenti
            </button>
          </mat-card-content>
        </mat-card-actions>
      </div>

    </div>

  </form>

</div>
