<div *ngIf="ticket" align="center">
  <form novalidate [formGroup]="ticketDetails" (ngSubmit)="onSubmitForm()">
      <h2 align="center">{{this.ticketDetails.controls['room'].value.name}} - Status: {{this.ticketDetails.controls['status'].value}}</h2>
      <h5 align="center">Created: {{this.ticketDetails.controls['date'].value || "-"}} - Modified: {{this.ticketDetails.controls['lastModified'].value || "none"}}</h5>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Title" formControlName="title"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Description" formControlName="description"></textarea>
    </mat-form-field>

    <div class="my_class">
        <mat-card-actions align="center" class="example-card">
          <mat-card-content>
            <button mat-raised-button color="warn" type="submit">
              Submit
            </button>
          </mat-card-content>
        </mat-card-actions>
      </div>
  </form>
</div>