<div *ngIf="ticket" align="center">
    <mat-card class="example-card">

    
  <form novalidate [formGroup]="ticketDetails" (ngSubmit)="onSubmitForm()">
      <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><h2>Aula: {{this.ticketDetails.controls['room'].value.name}} - Stato: {{this.ticketDetails.controls['status'].value}}</h2></mat-card-title>
          <mat-card-subtitle><h5 align="center">Creato: {{this.ticketDetails.controls['date'].value | date: 'medium' || "-"}} - Modificato: {{this.ticketDetails.controls['lastModified'].value | date: 'medium' || "none"}}</h5></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Titolo" formControlName="title"></textarea>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Descrizione" formControlName="description"></textarea>
    </mat-form-field>
  </mat-card-content>

    <div class="my_class">
        <mat-card-actions align="center" class="example-card">

            <button mat-raised-button color="primary" type="submit">
              Invia
            </button>
            <span style="display:inline-block; width: 10pt;"></span>
            <button mat-raised-button (click)="onDelete()" color="warn" type="button">
                Elimina
              </button>
        </mat-card-actions>
      </div>
  </form>
</mat-card>