<h2 align="center">Gestione Ticket</h2>
<div align="center">
  <mat-form-field>
    <mat-select placeholder="Aule" [(value)]="selectedRoom">
      <mat-option>I tuoi ticket</mat-option>
      <mat-option *ngFor="let room of rooms" [value]="room" (click)="roomTickets(selectedRoom);">
        {{ room.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div *ngIf='!selectedRoom'>
  <mat-list>
    <h3 mat-subheader>Ticket:</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let ticket of tickets" [class.selected]="ticket === selectedTicket" (click)="loadDetails(ticket)">
      <mat-icon mat-list-icon class="download">create</mat-icon>


      <h4 mat-line>{{ticket.room.name}} - {{ticket.title}} - {{ticket.status}}</h4>
      <p mat-line>Creato: {{ticket.date | date: 'medium' || "-"}} - Modificato: {{ticket.lastModified | date: 'medium' || "none"}}</p>
      <p mat-line>Descrizione: {{ticket.description}} </p>
      <p mat-line>Commento della segreteria: {{ticket.comment}} </p>

      <mat-divider></mat-divider>
    </mat-list-item>

    <div *ngIf='ticketDetails'>
      <app-ticket-details [ticket]="selectedTicket"></app-ticket-details>
    </div>
  </mat-list>
</div>
<div *ngIf='selectedRoom'>
  <mat-list>
    <h3 mat-subheader>Ticket {{selectedRoom.name}}:</h3>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let ticket of roomTicketsList">
      <mat-icon mat-list-icon>arrow_right</mat-icon>
      <h4 mat-line>{{ticket.room.name}} - {{ticket.title}} - {{ticket.status}}</h4>
      <p mat-line>Creato: {{ticket.date | date: 'medium' || "-"}} - Modificato: {{ticket.lastModified | date: 'medium' || "none"}}</p>
      <p mat-line>Descrizione: {{ticket.description}} </p>
      <p mat-line>Commento della segreteria: {{ticket.comment}} </p>
      <mat-divider></mat-divider>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>