<div class="mat-container-fluid" [formGroup]="form">

  <mat-card align="center" class="example-card"style="margin: 0;">
    <mat-card-content>
      <mat-card-title>
        <h3>First Name</h3>
      </mat-card-title>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Insert first name" formControlName="firstName" required>
      </mat-form-field>
    </mat-card-content>
  </mat-card>


  <mat-card align="center" class="example-card">
    <mat-card-content>
      <mat-card-title>
        <h3>Last Name</h3>
      </mat-card-title>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Insert last name" formControlName="lastName" required>
      </mat-form-field>
    </mat-card-content>
  </mat-card>


  <mat-card align="center" class="example-card">
    <mat-card-content>
      <mat-card-title>
        <h3>Email</h3>
      </mat-card-title>
      <mat-form-field appearance="legacy">
        <input matInput="e-mail" type="email" placeholder="Insert e-mail" formControlName="email" required>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>


<div>
  <mat-card  class="example-card" align="center">
    <mat-card-content>
      <mat-card-title>
        <h3>User Type</h3>
      </mat-card-title>
      <mat-form-field appearance="legacy">
        <mat-select placeholder="select user type" [(ngModel)]="selectedUser" required>
          <mat-option *ngFor="let ty of type" [value]="ty">
            {{ty}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>


  <mat-card style="elevation: 0" align="center" class="example-card" *ngIf="selectedUser == type[0]" >
    <mat-card-content>
      <mat-card-title>
        <h3>Study Course</h3>
      </mat-card-title>
      <mat-form-field appearance="legacy">
        <mat-select placeholder="select study course" [(ngModel)]="selectedCourse" required>
          <mat-option *ngFor="let course of studyCourses"
                      [value]="course.id">
            {{course.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>


  <mat-card-actions align="center" class="example-card" *ngIf="selectedUser == type[1]" >
    <mat-card-content>
      <mat-card-title>
        <h3>Teaching</h3>
      </mat-card-title>
      <mat-grid-list cols="2"  rowHeight="10:1">
        <mat-grid-tile>
          <mat-form-field appearance="legacy">
            <mat-select placeholder="select study course" [(ngModel)]="selectedTCourse" required>
              <mat-option *ngFor="let teach of studyCourses"
                          [value]="teach.id"
                          (click)="prova()">
                {{teach.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile *ngIf="teachings != null">
          <mat-form-field appearance="legacy">
            <mat-select placeholder="select teaching" [(ngModel)]="selectedTeaching" required>
              <mat-option *ngFor="let teach of teachings"
                          [value]="teach.id">
                {{teach.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card-actions>


  <mat-card-actions align="center" class="example-card">
    <mat-card-content>
      <button mat-raised-button color="warn"
              (click)="submit(selectedUser, selectedCourse, selectedTeaching)" class="btn">
        Add new User
      </button>
    </mat-card-content>
  </mat-card-actions>
</div>
