@import "~@angular/material/theming";
@include mat-core();
@import "super-styles";

$custom-primary: mat-palette($darkyellow);
$custom-accent:  mat-palette($my-blue);
$custom-warn: mat-palette($my-red);


$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);


