<div>
  <mat-grid-list [cols]="3" rowHeight="2:1">
      <mat-grid-tile >
        <mat-grid-tile-header class="my-tile-header">
          <div class="my-bold">Corso di studi</div>
        </mat-grid-tile-header>
        <mat-form-field appearance="legacy" color="accent" size="large">
          <mat-select placeholder="Seleziona il corso di studi" [style.color]="'blue'" [style.font-size]="'large'" [(ngModel)]="selectedCourse">
            <mat-option *ngFor="let course of courses" size="large" [value]="course"
                        [style.font-size]="'large'" (click)="findTeachings(course)">
              {{ course.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile >
        <mat-grid-tile-header class="my-tile-header">
          <div class="my-bold">Insegnamento</div>
        </mat-grid-tile-header>
        <mat-form-field appearance="legacy" color="accent" >
          <mat-select placeholder="Seleziona insegnamento" [(ngModel)]="selectedTeaching" [disabled]="teachings == null">
            <mat-option size="medium" *ngFor="let teaching of teachings" [value]="teaching" (click)="findLessons(teaching)">
              {{ teaching.title }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile >
        <mat-grid-tile-header class="my-tile-header">
          <div class="my-bold">Lezione</div>
        </mat-grid-tile-header>
        <mat-form-field appearance="legacy" color="accent" >
          <mat-select placeholder="Seleziona lezione" [(ngModel)]="selectedLesson" [disabled]="teachings == null">
            <mat-option size="medium" *ngFor="let lesson of lessons" [value]="lesson" (click)="validateDate()">
              {{ lesson.date }} - {{ lesson.day }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

  </mat-grid-list>
  <mat-grid-list [cols]="4" *ngIf="selectedLesson != null">
    <mat-grid-tile>
      <mat-grid-tile-header class="my-tile-header">
        <div class="my-bold">Data</div>
      </mat-grid-tile-header>
      <mat-form-field appearance="legacy" >
        <input matInput [matDatepicker]="picker"
               placeholder="Inserisci la data"
               [(ngModel)]="selectedLesson.dDate" required>
      </mat-form-field>
      <mat-datepicker-toggle [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
    </mat-grid-tile>

    <mat-grid-tile>
      <div layout-align="vertical" align="center">
        <h2>Ora inizio</h2>
        <mat-form-field appearance="legacy" [color]="errorColor">
          <mat-select placeholder="Seleziona l'ora d'inizio" (selectionChange)="findAula()" [(ngModel)]="selectedLesson.startTime" >
            <mat-option *ngFor="let hour of Hours" [value]="hour" (select)="findAula()">
              {{ hour }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <h2>Ora fine</h2>
        <mat-form-field appearance="legacy" color="accent">
          <mat-select placeholder="Seleziona l'ora di fine" (selectionChange)="findAula()" [(ngModel)]="selectedLesson.endTime">
            <mat-option *ngFor="let hour of Hours" [value]="hour" (select)="findAula()">
              {{ hour }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header class="my-tile-header">
        <div class="my-bold">Aula</div>
      </mat-grid-tile-header>
      <mat-form-field appearance="legacy" color="accent">
        <mat-select placeholder="Seleziona una nuova aula"  [(ngModel)]="selectedLesson.room">
          <mat-option *ngFor="let aula of aulasFounded" [value]="aula">
            {{ aula.name }}
            <mat-hint>Capacity: {{ aula.capacity }}</mat-hint>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header class="my-tile-header">

      </mat-grid-tile-header>
      <mat-radio-group [(ngModel)]="all">
        <mat-radio-button  class="radio-button" value=false [style.margin]="'3px'">
          <h2>Solo questa lezione</h2>
        </mat-radio-button>
        <mat-radio-button  class="radio-button" value="true" [style.margin]="'3px'">
          <h2>Tutte le prossime lezioni</h2>
        </mat-radio-button>
      </mat-radio-group>
    </mat-grid-tile>
  </mat-grid-list>
  <div align="center">
    <button mat-raised-button color="primary" [style.font-size]="'large'"  (click)="submit()" *ngIf="selectedLesson != null">
      <b>Salva aggiornamenti</b>
    </button>
  </div>
</div>
